.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-texto {
  font-size: 1.4rem;
  line-height: 1.33;
  margin-bottom: 28px;
  max-width: 43ch;
  color: #525252;
}

.experiencia-texto strong {
  color: #141414;
}

.empresa {
  max-width: 570px;
  display: grid;
  gap: 10px 20px;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
}

.empresa-titulos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

}
.empresa-conteudos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.empresa::before {
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#C5B2FF, #29D9F8);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}
.empresa-texto {
  font-size: 0.875rem;
  color: #525252;
  line-height: 1.4;
}

.empresa-habilidades {
  display: flex;
  align-content: start;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.empresa-habilidades li {
  font-size: 0.875rem; 
  line-height: 1.4;
  border-radius: 5px;
  background: #ffffff;
  padding: 5px 10px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -50px;
  color: #525252;
  font-size: 0.875rem;
}

.experiencia_menu {
  display: flex;
  gap: 37px;
  margin-bottom: 40px;
}

.experiencia_menu svg {
  width: 40px;
}

@media (max-width: 1100px) {
  .experiencia .subtitulo {
    gap: 20px;
}
}

@media (max-width: 850px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  
  .experiencia .subtitulo {
    color: #141414;
  }

  .experiencia-texto {
    font-size: 1.25rem;
  }

  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    color: #000;
    border: 1;
    width: 100%;
    text-align:right;
  }

  .empresa-ano::before {
    content: 'Ano: ';
  }
}

@media (max-width: 500px) {
  .empresa {
    gap: 10px;
    max-width: 400px;
  }

  .empresa-conteudos {
    grid-template-columns: 1fr;  
    gap: 10px;
  }

  

  .empresa-titulos span {
    text-align: right;
  }

   .experiencia-texto {
    font-size: 1.2rem;
  }
  .experiencia_menu {
    gap: 25px;
  }
  .experiencia_menu svg {
    width: 35px;
  }

}

@media (max-width: 450px) {
.experiencia_menu {
    gap: 15px;
  }

   .empresa-titulos span {
    font-size: 1rem;
  }
}



@media (max-width: 350px) {
  .empresa {
    max-width: 290px;
  }

  .experiencia_menu svg {
    width: 35px;
  }
}



