.footer {
  background-color: #000;
}

.footer-container {
  padding: 120px 20px 40px 20px;
  display: grid;
  grid-template-columns:1fr 1fr; 
  align-items: center;
}

.footer-texto{
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
  max-width: 30ch;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 30px;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
  text-align: center;
}

@media (max-width: 850px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 80px 20px 40px 20px;
    gap: 40px;
    justify-items: center;
  }

  .footer-texto {
    font-size: 1.25rem;
    text-align: left;

  }

  .footer-contato li {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}