body {
  font-family: 'Fira Sans', Arial, sans-serif;
  margin: 0;
  color: #141414;
   margin-bottom: 1000px;
}

h1, h2, h3, h4, h5, h6, p  {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 5ch;
}