html {
  scroll-behavior: smooth;
}

body { 
  font-family: 'Fira Sans', Arial, sans-serif;
  margin: 0;
  color: #141414;
}

h1, h2, h3, h4, h5, h6, p  {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 7ch;
}

@media (max-width: 1170px) {
  .subtitulo {
    font-size: 6.5rem;
}
}

@media (max-width: 1000px) {
  .subtitulo {
    font-size: 6rem;
}
}
@media (max-width: 900px) {
  .subtitulo {
    font-size: 5.5rem;
}
}


@media (max-width: 850px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
  }
}

@media (max-width: 350px) {
  header img {
    border: 1px solid #dadada;

  }
}