.header {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.header-menu a {
  font-size: 18px;
  line-height: 1.3;
  padding: 10px 20px;
  display: block;
  font-family: 'Victor Mono', 'Fira Sans', sans-serif;
  font-weight: semi-bold;
 
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    align-items: flex-center;
    gap: 40px;
    padding: 20px;
  }

  .header a {
    border: 1px solid #dadada;
    border-radius: 8px;
    font-size: 18px;
  }
}