.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.225;
  margin-bottom: 30px; 
  font-family: 'Victor Mono';
  font-weight: bold;
}

.introducao-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  border-radius: 20px;
  border: 1px solid black;
}


.social-menu svg {
  width: 40px;
  height: 100%;
  padding: 10px 15px;
}

.social-menu svg path {
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0.25; 
  vector-effect: non-scaling-stroke;
  transition: fill 0.25s ease, stroke 0.25s ease;
}


/* ====== 1100px ====== */
@media (max-width: 1100px) {
  .introducao h1 {
    font-size: 3.5rem;
  }

  .introducao img {
    max-width: 250px;
  }

  .social-menu {
    gap: 10px;
  }

}

/* ====== 905px ====== */
@media (max-width: 905px) {
  .introducao h1 {
    font-size: 2.5rem;
  }

  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }  
   .social-menu svg {
    width: 35px;
    padding: 8px 12px;
  }
}

/* ====== 750px ====== */
@media (max-width: 750px) {
  .introducao {
    gap: 10px;
  }

  .introducao h1 {
    font-size: 2.3rem;
  }   
  .social-menu svg {
    width: 35px;
    padding: 8px 10px;
  }
  .social-menu svg path {
    stroke-width: 0.2;
  }
}

/* ====== 600px ====== */
@media (max-width: 600px) {
  .introducao {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 25px;
  }

  .introducao img {
    max-width: 200px;
    margin: 0 auto;
  }
  
  .social-menu {
    gap: 15px;
  }

  .social-menu svg {
    width: 40px;
    padding: 10px 15px;
  }
}





/*!  Hover Efeitos */


.social-menu a:hover .github {
  color: #585858;
}

.social-menu a:hover .linkedin {
  color: #0A66C2;
}


.social-menu a:hover .whatsapp {
  color: #0bb64a;
}


.social-menu a:hover .instagram {
  color: #E4405F;
}


.social-menu a:hover .email {
  color: #b8980c;
}


